@CHARSET "UTF-8";
    .g-icon-qq1, .g-icon-qr1, .g-icon-qr2, .g-icon-survey1, .g-icon-survey2, .g-icon-top, .g-icon-call, .g-icon-weibo1, .g-icon-weibo2, .g-icon-xchengxu1{
        background-image: url(../images/sprite1.png); 
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;}
.ask1_ber li,.ask1_code div,.ask1_phone div,.ask1_xcx div{background-image:url(/images/site/ask1plue.png);background-repeat:no-repeat;list-style-type: none;}

.col-plug-left{
    position:fixed !important;
    z-index: 99;
    height: 377px;
    bottom:150px;
    left:10px;
    min-width:258px; 
    background-color:transparent;
}
.col-plug-right{
    position:fixed !important;
    z-index:99;
    height: 377px;
    bottom:120px;
    right:10px;
    min-width:74px;
    background-color:transparent;
}
.col-plug-right > .side-bar{
    margin-left: 0px;
}

 .side-pannel *{padding:0;margin:0;}
    .side-pannel {
        position: fixed;
        z-index: 99;
        padding:0;
        font: 12px Verdana, Arial, "\5FAE\8F6F\96C5\9ED1";
    }
    .side-bar {
        border-bottom: none;
        background: #fff;
        width:72px;
    }
    .side-bar a {
        display: block;
        cursor: pointer;
        width: 70px;
        height: 40px;
        border-bottom: 1px solid #E7E7E7;
        position: relative;
        color: #676767;
        text-align: center;
    }
    .side-bar>a:last-child{border-bottom:none;}
    .side-bar a s {
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    .side-bar a span {
        line-height: 20px
    }

    .side-bar a.gotop s {
        position: absolute;
        top: 50%;
        left: 20px;
        background-position: 0 -4px;
    }
    .side-bar a.gotop:hover s{
        background-position: 0 -40px;
    }
    .side-bar a.text {
        padding-top: 24px;
    }
    .side-bar a.xcx {
        padding: 10px 0 10px 0;
    }
	.side-bar a.qr s {
        background-position: -343px 0;
    }
    .side-bar a.qr s:hover {
        background-position: -343px -36px;
    }
	.side-bar a.xcx s.g-icon-xchengxu1 {
		width:25px;
		height:28px;
		display:block;
        background-position: -414px -2px;
    }
    .side-bar a.xcx:hover s.g-icon-xchengxu1{
        background-position: -414px -38px;
    }
    .side-bar a.qr i ,.side-bar a.xcx i {
    top:-150px;
    width:160px;
    height:150px;
    background:url("../images/askplue.png");
    background-repeat: no-repeat;
    background-position: -60px -5px;
        position: absolute;
        top: -25px;
        margin-top: -74px;
        display: none;
    }
        .col-plug-left .side-bar a.qr i,.col-plug-left .side-bar a.xcx i {
            right: -175px;
            -moz-transform:rotate(-180deg);
            -webkit-transform:rotate(-180deg);
            filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
            top: 75px;
        }
        .col-plug-right .side-bar a.qr i ,.col-plug-right .side-bar a.xcx i {
            left: -175px;
        }
      .side-bar a.qr i .mk-img-qrcode{
        text-align: center;
      }
      .side-bar a.qr i div img,.side-bar a.xcx i div img{
        width:148px;
        height:aotu;
        float:left;
        padding-left:4px;
      }
    .side-bar a.qr i canvas{
        margin-top:6px;
    }
    .side-bar a.call s {
        position: absolute;
        left: 25px;
    }
    .text.call span{
        line-height:38px;
    }
    .side-bar a.call i {
        width: 140px;
        height: 50px;
        position: absolute;
        /* right: 70px; */
        top: 28px;
        margin-top: -25px;
        display: none;
        font-size:14px;
        background: #fff;
        line-height:25px;
        border:1px solid #ccc;
    }
    .col-plug-left  .side-bar a.call i {
        left: 72px;
    }
   .col-plug-right  .side-bar a.call i {
        right: 70px;
    }
    .side-bar a.call i span{font-size:16px;color:red;}
    .side-bar a.qr:hover i,.side-bar a.call:hover i ,.side-bar a.xcx:hover i{
        display: block
    }

    .g-icon-top {
        height: 24px;
        width: 35px;
        margin-top: -10px;
        background-position: 0 -33px
    }
    .g-icon-survey1 {
        height: 24px;
        width: 26px;
        margin-top: -11px;
        background-position: -275px -4px
    }
    a:hover .g-icon-survey1 {
        background-position: -275px -40px;
    }
    .g-icon-qq1 {
        background-position: -71px -4px;
        height: 24px;
        margin-top: -10px;
        width: 22px;

    }
    a:hover .g-icon-qq1{
        background-position: -71px -40px;
        display:flex;
    }	
    .g-icon-weibo1 {
        height: 24px;
        width: 27px;
        margin-top: -12px;
        background-position: -138px -4px;
    }
    a:hover .g-icon-weibo1 {
        background-position: -138px -40px;
    }
    .g-icon-qr1 {
        height: 25px;
        width: 29px;
		/*margin-top:10px;*/
    }
    .g-icon-call {
        height: 24px;
        width: 22px;
        margin-top: -12px;
        background-position: -208px -4px;
    }
    a:hover .g-icon-call {
        background-position: -208px -40px;
    }
    .mk-img-qrcode img{
        display:inline-block;
        max-width:140px;
        max-height:140px;
        position: relative;
        top: 5px;
            }
    .qr {
        padding:5px 0px;
    }


.ask1_ber{
    position:fixed;
    right:20px;
    top:30%;
    }
.ask1_ber li{
    width:55px;
    height:55px;
    background-color:#cccccc;
    border-bottom:#FFF 1px solid;
    }
.ask1_ber li a{
    display:block;
    width:55px;
    height:55px;
    }
.ask1_ber li:hover{
    background-color:#666666;
    }
.ask1_phone{
    background-position:0 -56px;
    }
.ask1_phone:hover div{
    display:block;
    }
.ask1_phone div{
    display:none;
    position:relative;
    left:-159px;
    top:5px;
    width:136px;
    height:38px;
    text-align:center;
    line-height:38px;
    color:#ff0000;
    font-size:18px;
    font-family:'微软雅黑';
    padding:1px 8px 1px 1px;
    background-position:-63px -162px;
    }
.ask1_weixin{
    background-position:0 -112px;
    }
.ask1_sina{
    background-position:0 -168px;
    }
.ask1_code{
    background-position:0 -224px;
    }
.ask1_xcx{
    background-position:0 -336px;
    }
.ask1_code:hover div,.ask1_xcx:hover div{
    display:block;
    }
.ask1_code div,.ask1_xcx div{
    display:none;
    position:relative;
    left:-170px;
    top:-90px;
    width:148px;
    height:148px;
    padding:1px 8px 1px 1px;
    background-position:-63px -5px;
	text-align:center;
	vertical-align:middle;
	line-height:148px;
	
    }
.ask1_code div img,.ask1_xcx div img{
	width:90%;
	margin:0 auto;
	vertical-align:middle;
	display: inline-block;
	
    }
.ask1_top{
    background-position:0 -280px;
    }
/***二维码分离样式***/
.weixin{display:none; background:#f2f2f2; padding:0 10px; width:116px; height:174px; position:fixed; right:0; bottom:0; _margin-bottom:0; cursor:pointer; _position:absolute; _bottom:auto; _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))); z-index:9999;}
.weixin span.fl{ width:65px;color: #999;font-size: 12px;}
.weixin b{display:block; cursor:pointer;  width:13px; height:13px; float:right;background:none;line-height:26px; color: #999;}
.weixin img, .weixin canvas{display:block; background:#fff; padding:8px; width:100px; height:100px; overflow:hidden;}
.weixin p{height:28px; line-height:28px;}
.weixin span.tc{height:30px; line-height:30px;display:block; color: #999;}
.weixin:hover{background:#d2dee5; color:#333; text-decoration:none;}

        
